In [1]:
import os
import pandas as pd
import numpy as np

from pandas.io.json import json_normalize
# set seed for reproducibility

from gmplot import gmplot
BASE_DIR = "../"

gmap = gmplot.GoogleMapPlotter(-34.9964998500295, -64.96726512908937, 5)
dataset = pd.read_json(BASE_DIR + "input/pasos.json")

#### Observaciones
- Un conteo agrupado por provincias nos dice la cantidad de pasos fronterizos que hay por provincia.
- Notar que Córdoba, San Luis, Tucuman tiene al menos un paso
- Neuquen aparece repetido

In [2]:
dataset.groupby(['province']).count()

                                                    location  name
province
AEROPUERTO INTERNACIONAL PILOTO CIVIL NORBERTO ...         1     1
Buenos Aires                                              48    48
Catamarca                                                  3     3
Chaco                                                      3     3
Chubut                                                    15    15
Cordoba                                                    3     3
Corrientes                                                15    15
Córdoba                                                    1     1
Entre Rios                                                13    13
Formosa                                                   11    11
Jujuy                                                      8     8
La Rioja                                                   3     3
Mendoza                                                   14    14
Misiones                                                  38    38
NEUQUEN                                                    1     1
Neuquen                                                   10    10
Rio Negro                                                  8     8
Salta                                                      4     4
San Juan                                                   5     5
San Luis                                                   2     2
Santa Cruz                                                20    20
Santa Fe                                                  11    11
Santiago del Estero                                        4     4
Tierra del Fuego                                           9     9
Tucuman                                                    2     2

- Si observamos los nombres, podremos notar que se pueden identificar que algunos estan identificados como Aeropuertos.

In [3]:
filter_airports = dataset["name"].str.contains("AERO")
dataset[filter_airports].groupby(["province"]).count()

                                                    location  name
province
AEROPUERTO INTERNACIONAL PILOTO CIVIL NORBERTO ...         1     1
Buenos Aires                                              12    12
Catamarca                                                  1     1
Chaco                                                      1     1
Chubut                                                     7     7
Cordoba                                                    2     2
Corrientes                                                 1     1
Córdoba                                                    1     1
Entre Rios                                                 3     3
Formosa                                                    3     3
Jujuy                                                      2     2
La Rioja                                                   2     2
Mendoza                                                    4     4
Misiones                                                   3     3
Neuquen                                                    3     3
Rio Negro                                                  3     3
Salta                                                      2     2
San Juan                                                   2     2
San Luis                                                   2     2
Santa Cruz                                                 2     2
Santa Fe                                                   3     3
Santiago del Estero                                        4     4
Tierra del Fuego                                           2     2
Tucuman                                                    2     2

- A estos entonces los podemos filtrar para evitar que aparezcar puntos raros en el mapa

In [8]:
lats, lons = zip(*dataset['location'])
gmap.scatter(lats, lons, 'cornflowerblue',size=2000, marker=False) 
# Draw
gmap.draw("pasos_fronterizos.html")